/*
Default text is Lucida Grande font with a sans-serif as a fallback option.
Header 1 is 64px, centered
Header 2 is 30px, with grey (#808080) drop shadow (I would use text-shadow property) that is offset 5px horizontally, 5px vertically, and 2px blur
Paragraphs use 24px font and have 20px padding on the top only
*/
body{
    background-color: #000000;
}

h1 {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 64px;
    text-align: center;
    color:#ffffff;
    background-color: #000000;
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
    margin-top: 1px;
}

p { 
    font-family: 'Lucida Grande', sans-serif;
    font-size: 24px; 
    margin-top: 20px;
}

/*
All text is white on a black background (use hexadecimal values!)
Images match the following styles:
All images are on their own line
All images are centered 
All images are 525px wide with proper aspect ratio (they are not warped or stretched)
All divs must be at least 150px tall (but will automatically be taller if needed) with 25px padding on all sides.
*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
}
div {
    min-height: 150px;
    padding: 25px 25px 25px 25px;
}

#intro {
    color: #ffffff;
}
/*
Red div has the following styles:
Background color is hexadecimal value for red
Text is aligned on the right side 
*/
#red {
    background-color: #ff0000;
    text-align: right;
    color: #ffffff;
}
#blue {
    background-color: #0000ff;
    text-align: left;
    color: #ffffff;
}
#green {
    background-color: #008000;
    text-align: left;
    color: #ffffff;
}
/*
Yellow div has the following styles
a.     Background color is hexadecimal value for yellow 
b.     Text is aligned on the right side
c.     Header 2 and paragraph text is black
d.     Header 2 drop shadow is #c7e2c7 with the same parameters as above
*/
#yellow {
    background-color: #ffff00;
    text-align: right;
    color: #000000;
}
/*
Paragraphs within the footer have text that is right-aligned with padding (10px) on the bottom and right only.
*/
footer {
    text-align: right;
    color: #ffffff;
    padding-bottom: 10px;
    padding-right: 10px;
}